
{% load otree static %}

{% block title %}


Leaving the study
{% endblock %}


{% block content %}

    <div class="failure-message">
        <p style="font-size: 18px; font-weight: bold; text-align: center;">
            You decided to withhold consent and to leave the survey <br>
            Please make sure to return the study. <br><br>
            Thank you!
        </p>
        <div class="cross">✘</div>
    </div>
  




{% endblock %}

{% block styles %}

<link rel="stylesheet" href="{% static 'ME/BaseDesign.css' %}"/>
<link rel="stylesheet" href="{% static 'ME/ProgressPieChart.css' %}"/>

<style>
    /* Custom CSS for success message */
    .success-message {
        border: 2px solid #d4edda;
        background-color: #d4edda; /* Light green background */
        color: #155724; /* Darker green text color */
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        position: relative;
    }
    
    .success-message .checkmark {
        font-size: 50px;
        color: #28a745; /* Green color for the checkmark */
        margin-top: 10px;
    }
    
    /* Custom CSS for failure message */
    .failure-message {
        border: 2px solid #f8d7da;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Darker red text color */
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        position: relative;
    }
    
    .failure-message .cross {
        font-size: 50px;
        color: #dc3545; /* Red color for the cross */
        margin-top: 10px;
    }
</style>

{% endblock %}

{% block scripts %}

<script src="{% static 'ME/ProgressPieChart.js' %}"></script>


{% endblock %}
